/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .profile-picture {
  width:  90px;
  height: 80px;
  margin: 10px;
}
 .Account_Container{
    position: relative;
    Width: 100px;
    left: 90%;
 }
  .red-button {
    background-color: #FF5733; /* Change to your desired color */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding for spacing */
    border: none; /* Remove the default button border */
    border-radius: 5px; /* Round the corners */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  .green-button {
    background-color: #5caa00; /* Change to your desired color */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding for spacing */
    border: none; /* Remove the default button border */
    border-radius: 5px; /* Round the corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    
  }
  
